<!doctype html>
<html lang="es" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <title>Slayser Tag</title>
        <link href="/favicon.ico" rel="icon" type="image/x-icon">
        <link rel="stylesheet" href="/views/style/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caprasimo&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <a href="#home"> <img src="../favicon.ico" alt="SlayserTag logo" title="SlayserTag logo"> </a>
        </header>
        <div id="ws-ip" data-my-string="<%= ws_ip %>"></div>
        <main class="container mt-4 d-flex flex-column">
            <section id="hero"> 
                <h3>BIENVENIDOS A</h3>
                <h1>Slayser Tag</h1>
                <h1 class="outline">Game Play</h1>
                <h4>Juega una partida rápida o<br>personaliza tu partida.<br>¡Sé el héroe del Slayser Tag<br>y desata la diversión!</h4>
                <div class="imglaser">
                  <img src="/views/images/Blue_lasertag.png" alt="laser blue" title="laser blue">
                </div>
            </section>
            <% if (current_state === "teams") { %>
            <section id="equipos">
                <h1 class="tit_jugadores">Elegir equipos</h1>
                <ul id="devices_teams">

                </ul>
                <div class="buttons">
                    <button type="button" id="go-to-teams-scoreboard" class="btn_play" onclick="setTeamsToScoreboard()">QUICK PLAY</button>
                    <button type="button" id="go-to-teams-settings" class="btn_create" onclick="goToSettings()">CREATE GAME</button>
                </div>
                <button type="button" class="btn_back2" onclick="goToDevices()">GO BACK</button>
               <script>
                const goToTeamsScoreboardButton = document.getElementById('go-to-teams-scoreboard');
                const goConfigureTeamsScoreboardButton = document.getElementById('go-to-teams-settings');

                goToTeamsScoreboardButton.disabled = true;
                goConfigureTeamsScoreboardButton.disabled = true;
               </script> 
            </section>
        <% } if (current_state === "freeforall") { %>
            <section id="jugadores">
                <h1 class="tit_jugadores">Jugadores conectados</h1>
                <ul id="devices_ffa">

                </ul>
                <div class="buttons">
                    <button type="button" class="btn_play" onclick="goToScoreboard()">QUICK PLAY</button>
                    <button type="button" class="btn_create" onclick="goToSettingsFFA()">CREATE GAME</button>
                </div>
                <button type="button" class="btn_back2" onclick="goToDevices()">GO BACK</button>
            </section>
                
            <% } if (current_state === "connecting") { %>
                <section id="dispositivos">
                    <h1 class="tit_jugadores">Dispositivos conectados</h1>
                
                    <ul id="devices_connecting" class="list-group">

                    </ul>

                    <div class="buttons">
                        <button type="button" id="go-to-select-teams" class="btn_play" onclick="selectTeams()">SELECT TEAMS</button>
                        <button type="button" id="go-to-free-for-all" class="btn_create" onclick="selectFFA()">FREE FOR ALL</button>
                    </div>
                    <script>
                        const goToTeamsScoreboardButton = document.getElementById('go-to-select-teams');
                        const goConfigureTeamsScoreboardButton = document.getElementById('go-to-free-for-all');

                        goToTeamsScoreboardButton.disabled = true;
                        goConfigureTeamsScoreboardButton.disabled = true;
                    </script>
                </section>
                
            <% } if (current_state === "scoreboard") { %>
                <section id="partida">
                    <h1 class="tit_partida">La partida termina en</h1>
                    <% if (lifes === false) { %>
                        <h1 id="tiempo-restante" class="outline"><span id="countdown"></span></h1> 
                    <% } %>
                    <div>
                        <div class="marcador" style="background-color: var(--blue2);">
                            <div class="marcador_tit_div" style="background-color: var(--blue);">
                            <h2 class="tit_marcador">Equipo Azul</h2>
                            </div>
                            <table id="scoreboad_team_1" class="table" style="color: var(--blue);">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Kills</th>
                                    <th scope="col">Deaths</th>
                                    <% if (lifes === true) { %>
                                        <th scope="col">Lives</th>
                                    <% } %>
                                </tr>
                            </table>
                        </div>
                        <div class="marcador" style="background-color: var(--orange2);">
                            <div class="marcador_tit_div" style="background-color: var(--orange);">
                            <h2 class="tit_marcador">Equipo Naranja</h2>
                            </div>
                            <table id="scoreboad_team_2" class="table" style="color: var(--orange);">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Kills</th>
                                    <th scope="col">Deaths</th>
                                    <% if (lifes === true) { %>
                                        <th scope="col">Lives</th>
                                    <% } %>
                                </tr>
                            </table>
                        </div>
                    </div>
                </section>
            <% } if (current_state === "scoreboard_ffa") { %>
                <section id="partida">
                    <h1 class="tit_partida">La partida termina en</h1>
                    <% if (lifes === false) { %>
                        <h1 id="tiempo-restante" class="outline"><span id="countdown"></span></h1> 
                    <% } %>
                    
                    <div>
                        <div class="marcador" style="background-color: var(--blue4);">
                            <div class="marcador_tit_div" style="background-color: var(--blue3);">
                            <h2 class="tit_marcador">Jugadores</h2>
                            </div>
                            <table id="scoreboad_ffa" class="table" style="color: var(--blue3);">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Kills</th>
                                    <th scope="col">Deaths</th>
                                    <% if (lifes === true) { %>
                                        <th scope="col">Lives</th>
                                    <% } %>
                                </tr>
                            </table>
                        </div>
                    </div>
                </section>
            <% } if (current_state === "settings") { %>
                <section id="createPlay">
                    <h2>Crea tu partida</h2>
                    <h2 class="outline2">Slayser Tag</h2>
            
                    <fieldset class="card my-2">
                        <div class="card-body">
                            <legend class="card-title">Modo de juego:</legend>
                            
                            <input type="radio" class="form-check-input" id="time" name="gameMode" value="time" checked>
                            <label for="time" class="me-2">Tiempo</label>
                            <input type="radio" class="form-check-input" id="lifes" name="gameMode" value="lifes">
                            <label for="lifes">Vidas</label>
                        </div>
                        
                    </fieldset>
                    <fieldset class="card my-2" id="time-options" style="display: block;">
                        <div class="card-body">
                            <legend class="card-title">Tiempo:</legend>
                            
                            <input type="radio" class="form-check-input" id="time_5" name="time" value="time_5" checked>
                            <label for="time_5" class="me-2">5 minutos</label>
                            <input type="radio" class="form-check-input" id="time_10" name="time" value="time_10" checked>
                            <label for="time_10" class="me-2">10 minutos</label>
                            <input type="radio" class="form-check-input" id="time_15" name="time" value="time_15" checked>
                            <label for="time_15" class="me-2">15 minutos</label>
                        </div>
                        
                    </fieldset>
                    <fieldset class="card my-2" id="lifes-options" style="display: none;">
                        <div class="card-body">
                            <legend class="card-title">Vidas:</legend>
                            
                            <input type="radio" class="form-check-input" id="lifes_3" name="life" value="lifes_3" checked>
                            <label for="lifes_3" class="me-2">3 vidas</label>
                            <input type="radio" class="form-check-input" id="lifes_8" name="life" value="lifes_8" checked>
                            <label for="lifes_8" class="me-2">8 vidas</label>
                            <input type="radio" class="form-check-input" id="lifes_13" name="life" value="lifes_13" checked>
                            <label for="lifes_13" class="me-2">13 vidas</label>
                        </div>
                        
                    </fieldset>
                    <button type="button" class="btn_play" onclick="saveSettings()">CONTINUE</button>
                        <% if (teams === true) { %>
                        <button type="button" class="btn_back" onclick="selectTeams()">GO BACK</button>
                        <% } else { %>
                        <button type="button" class="btn_back" onclick="selectFFA()">GO BACK</button>
                        <% } %>
                </section>
            <% } if (current_state === "wait") { %>
            <% } if (current_state === "end") { %>
                <section id="resultados">
                    <h1 class="tit_partida">Fin de la partida</h1>
                    <% if (teams === false) { %>
                    <div>
                        <div class="marcador" style="background-color: var(--blue4);">
                            <div class="marcador_tit_div" style="background-color: var(--blue3);">
                            <h2 class="tit_marcador">Resultados</h2>
                            </div>
                            <table id="scoreboad_ffa" class="table" style="color: var(--blue3);">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Kills</th>
                                    <th scope="col">Deaths</th>
                                    <% if (lifes === true) { %>
                                        <th scope="col">Lives</th>
                                    <% } %>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <% } else { %>
                    <div>
                        <div class="marcador" style="background-color: var(--blue2);">
                            <div class="marcador_tit_div" style="background-color: var(--blue);">
                            <h2 class="tit_marcador">Equipo Azul</h2>
                            </div>
                            <table id="scoreboad_team_1" class="table" style="color: var(--blue);">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Kills</th>
                                    <th scope="col">Deaths</th>
                                    <% if (lifes === true) { %>
                                        <th scope="col">Lives</th>
                                    <% } %>
                                </tr>
                            </table>
                        </div>
                        
                        <div class="marcador" style="background-color: var(--orange2);">
                            <div class="marcador_tit_div" style="background-color: var(--orange);">
                            <h2 class="tit_marcador">Equipo Naranja</h2>
                            </div>
                            <table id="scoreboad_team_2" class="table" style="color: var(--orange);">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Kills</th>
                                    <th scope="col">Deaths</th>
                                    <% if (lifes === true) { %>
                                        <th scope="col">Lives</th>
                                    <% } %>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <% } %>
                        <br/>
                    <button type="button" class="btn_back" onclick="goToDevices()" style="margin-top: 15px;">RETURN TO START</button>
                    <% } %>

                </section>
                
        </main>
        <script>
        const gameModeRadioButtons = document.querySelectorAll('input[name="gameMode"]');
        const timeOptions = document.getElementById('time-options');
        const lifesOptions = document.getElementById('lifes-options');

        gameModeRadioButtons.forEach(radioButton => {
            radioButton.addEventListener('change', () => {
            if (radioButton.value === 'time') {
                timeOptions.style.display = 'block';
                lifesOptions.style.display = 'none';
            } else if (radioButton.value === 'lifes') {
                timeOptions.style.display = 'none';
                lifesOptions.style.display = 'block';
            }
            });
        });
        </script>
        <script type="text/javascript" src="/js/funciones.js"></script>
        <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">-->    
    </body>
</html>

